@{
    ViewData["Title"] = "Plano de Contas";
}

<h1>Plano de contas</h1>

<button type="button" class="btn btn-primary">Criar item de Plano de Conta</button>
<br />
<br />
<table class="table table-bordered">
    <tr>
        <th>Id</th>
        <th>Descrição</th>
        <th>Tipo</th>
        <th>#</th>
        <th>#</th>
    </tr>
    <tr>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
    </tr>
</table>