@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">My Finance Web App</h1>
    <p>
        Uma aplicação construída por
        <a href="https://www.linkedin.com/in/disouzam" target="_blank" rel="noopener">
            Dickson Souza
        </a>
        como requisito parcial para aprovação <br />na disciplina Práticas de Implementação de Software <br />do curso de Pós-Graduação em Engenharia de Software <br />da PUC Minas, Oferta 7/2024, <br /> professor
        <a href="https://www.linkedin.com/in/filipe-nhimi-a16a0836/" target="_blank" rel="noopener">
             Filipe Torio
        </a>.
    </p>
</div>
